<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./styles.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div className="eng">
      <div className="banner">
        <h1 className="logo">UB</h1>

        <p className="t1">ABOUT US</p>
        <p className="t2">WHAT WE DO</p>
        <p className="t3">HOW WE WORK</p>
        <p className="t4">LOGIN</p>
      </div>

      <p className="T1">CLIMATE CHANGE MATTERS</p>
      <div>
        <img className="earth" src="{earth}" />
      </div>
    </div>
  </body>
</html>
